# Python
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/

# Secret files
.env

# SQLite DB
*.sqlite3

# Media files
/media/
media/

# Static files
/static/
staticfiles/

# IDE settings
.vscode/
.idea/

# Logs
*.log
